[2017-07-17 12:28] qlex opened #8 "env var DATA_DIR not set"
Maybe a dumb question, but eventough i created /tmp/data folder, upon ./build.sh I'm getting:
env var DATA_DIR not set error.

[2017-07-17 12:56] dianashk commented on #8
Hi @qlex! Excellent question. There are many ways to set that DATA_DIR environment variable. If you're running the build.sh script it needs to be explicitly exported or specified along with the execution.

[code]

Or

[code]

[2017-07-25 22:09] 3vivekb opened #9 "Libpostal errors"
I've been trying a deployment on Ubuntu 16 (using the default config) and the build process around libpostal shows a lot of errors.  The whole container does build successfully but when you try to run it error messages surround how libpostal is missing.

[2017-07-25 22:29] 3vivekb commented on #9
Errors show up in the build process.

Docker version 17.06.0-ce, build 02c1d87
docker-compose version 1.14.0, build c7bdf9e

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial

First set of no:
[code]

First set of errors:
[code]

[2017-07-25 22:32] dianashk commented on #9
These errors are very helpful. Is there a log of errors coming from the API container which uses libpostal?

[2017-07-25 22:49] 3vivekb commented on #9
Logs from docker-compose up:
[output.txt](https://github.com/pelias/dockerfiles/files/1174992/output.txt)

[2017-07-31 13:01] missinglink commented on #9
I usually see a bunch of colorful warnings when compiling `libpostal` locally on my desktop, it's nothing to worry about, for me libpostal still works fine.

[code]

looking at your attached log file there seem to be other errors which need to be resolved such as:

[code]

@dianashk could you explain the process for downloading the `placeholder` data, I suspect that this is the real issue.

[2017-07-31 14:10] dianashk commented on #9
Looking through the log file, it seems there are 2 issues:
1. WOF data doesn't seem to exist in the /data/whosonfirst mounted directory
2. Libpostal is not properly installed so API and interpolation can't start up

I'm not sure what could cause such issues other than intermittent connectivity issues or lack of space on the mounted directory. When you started up the build script, what was DATA_DIR

[2017-07-31 18:19] qlex opened #11 "cannot restart container"
When trying to restart container, i typed in "docker-compose down" as instructed in wiki and got errors below. Of course, I cannot successully start "docker-compose up" and even if i killed -9 node with pelias process and build.sh doesnt work anymore.

Stopping pelias_api ... error
Stopping` pelias_pip ... error
Stopping pelias_placeholder ... error
Stopping pelias_interpolation ... error
Stopping

[2017-07-31 20:00] 3vivekb opened #12 "Post links to all source datasets for sidewalks"
Document sources for all sidewalks.

[2017-07-31 20:01] 3vivekb commented on #12
Woops wrong repo.

[2017-07-31 20:01] #12 closed

[2017-07-31 22:20] 3vivekb commented on #9
I'm rebuilding and seeing something different this time.  My original deployment didn't have all the data you show (maybe it got deleted since I used tmp? or my environment variable got unset?).  I'll update when I know more.

Not sure why my instance got suppperrr sloww.

May I suggest you store the DATA_DIR in a different way?  Perhaps inputted from a .env file or put it into the json config?  A

[2017-08-02 13:30] missinglink commented on #11
hi @qlex I have not seen this error myself, could you please provide some more information about your system, ie: operating system, RAM, any special setup.

from a quick google it seems like the `grpc: the connection is unavailable` error is also affecting other people and may be a docker bug...

[2017-08-02 13:31] dianashk commented on #11
Thanks for reporting the issue. We haven't seen this on our testing but we'll try to investigate what's going on. If you have any additional insight into your setup we'd appreciate that. Which version of docker and docker-compose are you running? Which OS are you on?
Cheers!

[2017-08-03 20:01] wkulesza commented on #11
Im using VM machine running Debian 8.8 with 4gb ram - all on my laptop. After that, we want to install the docker on dedicated server with Debian 8.6 and 16+gb of ram and also similar machine with ubuntu 14.04.1. This should be enough as we're only using it for one metropolitan area in Poland.

[2017-08-09 13:36] missinglink opened #13 "REVISION=filtered-download"
the `docker-compose.yaml` file contains references to branches, such as: `args: [ "REVISION=filtered-download" ]`

@dianashk are we safe to switch these to `master`? I can't recall if all the associated branch PRs have been merged?

[2017-08-10 17:31] 3vivekb opened #16 "Request for San Francisco Bay Area config file"
Alongside the portland example, can a San Francisco Bay Area example config file be created as well?

[2017-08-10 19:23] orangejulius commented on #16
This is a cool idea. I'm not sure how many would be practical but there's no reason we couldn't have pre-built examples for a few popular cities.

[2017-08-11 10:42] missinglink commented on #16
Hey @3vivekb, I'm not American and not totally 100% on what's defined as the Bay Area, assuming SF and Oakland?

If you could definitely which areas you need I can look in to creating the config file for you.

[2017-08-11 20:59] 3vivekb commented on #16
San Francisco Bay Area usually includes everything in [ABAG](http://www.bayareacensus.ca.gov/counties/counties.htm).

[2017-08-23 19:35] fpurcell opened #20 "Data Load / WOF issues"
I'm having problems running build.sh with recent (August 2017) commits to the dockerfiles project.  The problems seem to stem from WOF data not being available for OA and OSM loaders.

A bit of history: back on August 1st, I was able to successfully run build.sh, and see a fully loaded Pelias system running (via the example pelias.json, thus data for just the Portland area).  I was using dockerfil

[2017-08-23 20:17] orangejulius opened #21 "Plans to allow for CI builds, local development"
Now that the Dockerfiles in this repository are fairly complete and becoming quite useful, we want to think a bit more about how we organize them to handle all the ways we want to use them and how we want them to be built.

## Here are some things we want to be able to do
* **Build Docker images in a CI environment**: so that builds can be done in a controlled and repeatable way. We also want to a

[2017-08-23 21:51] dianashk commented on #20
I think at least some of your errors are a result of too little memory allocated to Docker on the host machine. It's odd that the whosonfirst data download is trying to grab bundles, since the pelias.json file should be limiting that to only the Portland area.

Could you share your pelias.json file here please so I can see what's going on. If you've added your API key please remove it before shari

[2017-08-23 22:36] fpurcell commented on #20
Hey Diana,

AFAIK, the pelias.json in use is the same from https://github.com/pelias/dockerfiles/blob/master/pelias.json.   I'm running ./build.sh directly out of the freshly cloned dockerfiles directory.  I'm not aware of any other pelias.json file in use on the system (although, I could be wrong about that).

I'm going to search (and remove) any other pelias.json files, and also look to allocate

[2017-08-23 23:36] fpurcell commented on #20
Hmmm.  Could the problem be a lack of an API key for WOF?   I'm re-running build.sh now, so will find out.   Btw, the only pelias.json file(s) are in the dockerfiles project...including the one I've just edited with a valid WOF key.  Also, John Z. believes that Docker has access to as much of the ~14G of RAM allocated to the virtual server, so we're monitoring whether that's an issue.  ./build.sh

[2017-08-24 00:25] fpurcell commented on #20
With a valid API key in the WOF config, a re-run of ./build.sh worked (partial success, as polylines failed ... thinking it might have been some artifacts of previous runs, so re-running).

BTW, I'd like to request a documentation change (if only to trigger my feeble brain in the future), with the addition of 'get your free MapZen key, and add it to pelias.json where ever it says "your-api-key"' t

[2017-08-24 09:28] missinglink commented on #20
Possibly related to https://github.com/pelias/whosonfirst/pull/264, I think I introduced a bug in a recent PR to that repo which has broken the whosonfirst imports in to elasticsearch.

I'll bring up a team discussion about it today and see if when can get this fixed ASAP

[2017-08-25 03:21] dianashk commented on #20
I've merged the fix for the WOF import to master so when you get a chance please try to build the images again and rerun the setup from scratch. I'll try to publish the latest images to dockerhub soon.

[2017-08-25 19:17] fpurcell commented on #20
Thanks Peter & Diana.  Things are working fairly well on this end now, so I will close this issue.

(That said, the generation of polylines was problematic in my last attempt, and thus interpolation isn't building -- I'm re-running the build one more time to make sure, and will research a bit more before filing a new issue).

[2017-08-25 19:17] #20 closed

[2017-08-26 03:17] dianashk commented on #20
We just fixed a bug that was introduced while we were away at foss4g last
week. Please pull down latest images from dockerhub and rerun just the
polylines and interpolation steps.
On Fri, Aug 25, 2017 at 3:17 PM Frank Purcell <notifications@github.com>
wrote:

[2017-08-28 17:46] dianashk commented on #13
Fixed in #14

[2017-08-28 17:46] #13 closed

[2017-08-28 17:48] dianashk commented on #9
@3vivekb, how are your setup efforts going? We've made some updates to the docker images, so be sure to pull down the latest from dockerhub before attempting another build.

[2017-08-28 18:02] orangejulius opened #24 "Pin version of libpostal in libpostal_baseimage?"
In our production builds for Mapzen Search we pin the libpostal git repository to a specific revision (currently https://github.com/openvenues/libpostal/commit/7f7aada) to avoid breaking changes causing problems. Currently the libpostal_baseimage will [take the latest from the `master` branch](https://github.com/pelias/dockerfiles/blob/534c1850bf54e35401b8c306d6ca9b24b69c4246/libpostal_baseimage/D

[2017-08-28 19:18] fpurcell opened #25 "Interpolation and Polylines issues"
Hi Diana,

I just tried rebuilding the example pelias.json in the dockerfiles directory.  I'm not seeing polylines get processed, and as a result interpolation doesn't build.   Below is a listing of the data directory (note that the _interpolation_ folder is empty, and that there isn't a _polylines_ directory):

[pelias_docker@cs-dv-mapgeo01 dockerfiles]$ ls ~/data/*
/srv/pelias_docker/data/elasti

[2017-08-28 21:21] orangejulius commented on #21
Update: all the service and importer Dockerfiles have now been moved to their corresponding repositories in the above pull requests. The Dockerfiles still here are for `baseimage`, `libpostal_baseimage`, `elasticsearch` and `valhalla`. Where do we want to manage those? We could create separate Github repos for each one, but that feels a bit heavy-handed. My thinking is they can still be managed so

[2017-08-30 19:51] fpurcell commented on #25
Recent commits (e5fdc67017eb717766e7b6c12de98ff598745dce) have Pelias building interpolation and polylines via Docker.   The problem I'm now seeing with interpolation is that I keep getting 404 responses, ala:

[code]

[2017-08-30 19:58] fpurcell commented on #25
A bit more on interpolation ... this request:
http://cs-dv-mapgeo01:4000/v1/search?text=888%20SE%20Lambert%20St

Returns this logging:
[code]

And this response:

[code]

[2017-08-30 20:50] darkyelox opened #29 "libpostal error on build"
I try to use the docker version of pelias, i clone the repository and then do ./build and for 1 hour of work at final i get this log with errors:

[code]

The process ends and when i do `docker-compose ps` there are only running:

[code]

So maybe i need to do a manual installation instead?

[2017-08-31 16:01] orangejulius commented on #29
Hey @darkyelox,
Thanks for reporting this issue. Building all the Docker images from scratch, as you noticed, takes a long time. I also think it needs lots of RAM, if your machine doesn't have a lot (say, less than 8GB), that might be the problem.

Fortunately, we don't want everyone to have to always build the images. We are now building them frequently and pushing them to Docker Hub. Can you ple

[2017-08-31 18:56] darkyelox commented on #29
@orangejulius Hi, thanks in fact was the low memory (2 GB only) i will try with more memory (8GB) and disk space (80GB) but trying your commit i get this:

[code]

and the process never start, i will try with the original dockerfiles.

[2017-08-31 19:07] orangejulius commented on #29
Hey @darkyelox,
Oh yes, thanks for catching that. I had removed one of the Dockerfiles when I shouldn't have. Please pull that branch again (it was force pushed), and try once more. It now pulls all new images for me. Of course feel free to build if you'd like :)

[2017-08-31 19:40] darkyelox opened #30 "The process hangs after downloads with message "All Done!""
When i do a fresh install the process go well and after the download of the data the process hangs for ever:

[code]
Using `top` i cannot see any process running

![image](https://user-images.githubusercontent.com/8183191/29942068-36fd37ea-8e5a-11e7-8e22-83901a68cc70.png)

[2017-09-05 18:47] orangejulius commented on #21
Update 2: So far the PRs that have been merged are mostly working very well. One issue has cropped up: Github branch names sometimes include characters that are not allowed in Docker Hub tags: https://github.com/pelias/api/issues/975

[2017-09-07 19:08] fpurcell commented on #25
NOTE: I have tried to both 'build' and 'pull' the Docker components (e.g., I changed line [#9](https://github.com/pelias/dockerfiles/blob/master/build.sh#L9) to "docker-compose pull;"), and I get the same result.  In both cases, before running ./build.sh, I had a fresh Docker system, with no existing containers, images nor volumes on the system (I also rebooted the machine, just for good measure).

[2017-09-07 19:09] fpurcell commented on #25
BTW, all this is with minimal change to what's in dockerfiles:

[code]

[2017-09-11 17:55] orangejulius commented on #21
Update 3: all of the repositories now have a fix for the Docker tag issue. For most, the existing PR above has been updated. For the repos where the PR was already merged, a new one was created. Review away!

[2017-09-27 21:17] dianashk commented on #25
@fpurcell, we've just pushed some updates to the dockerfile setup. please test them out when you get a chance and let us know if there are any outstanding problems.

[2017-09-29 20:03] fpurcell commented on #25
Hi Diana,

I'm still seeing issues with interpolation, and similar (e.g., "fallback") results with this query: http://cs-dv-mapgeo01:4000/v1/search?text=888%20SE%20Lambert%20St

Starting from a clean system (all Docker containers and volumes removed, all downloaded data removed, server restarted, etc...), running dockerfiles/build.sh  produces the following errors when it comes to polylines.  (BTW

[2017-09-29 20:40] fpurcell commented on #25
I re-ran build.sh with 'docker-compose pull;', and see the same errors as above.

[code]

[nohup-pull.txt](https://github.com/pelias/dockerfiles/files/1345636/nohup-pull.txt)

[2017-10-05 03:05] fpurcell opened #31 "Early Errors ... build hangs on ES startup"
Not a lot has changed in the dockerfiles project since Sept 29 (last week) .. see comments at the bottom of #25.  But now I'm seeing some early errors, followed by the build hanging when trying to start Elastic Search.    See [hung-es.txt](https://github.com/pelias/dockerfiles/files/1357911/hung-es.txt)

Again, this is from a clean Docker system with all cached data, images, volumes, etc... nuked.

[2017-10-05 03:50] fpurcell commented on #31
Note: switching from  'docker-compose build;' to 'docker-compose pull;' does successfully build a running instance of Pelias.  And unlike last week, Interpolation seems to be working.  So that's GREAT NEWS!!!  (just closed ticket #25).

This point http://cs-dv-mapgeo01:4000/v1/search?text=888%20SE%20Lambert%20St in last week's version was resulting only the two "match_type": "fallback" records (se

[2017-10-05 03:59] fpurcell commented on #25
5 days later, and some very good news.   'docker-compose pull;', is now seeing a Pelias instance build where interpolation runs successfully.  (Tempering that success,  'docker-compose build;' has issues, ala #31).

http://cs-dv-mapgeo01:4000/v1/search?text=888%20SE%20Lambert%20St
[code]

[2017-10-05 03:59] #25 closed

[2017-10-12 04:59] ktjaco opened #33 "Docker npm error"
Thank you for creating this Pelias docker container! I've been following along the ["How to setup" guide](https://github.com/pelias/dockerfiles/blob/master/how_to_guide.pdf) and I come across an error following the ```​docker-compose​ ​ run​ ​ --rm​ ​ whosonfirst​ ​ npm​ ​ run​ ​ download``` command.

[code]
My ```pelias.json``` file is the same as the one in the "How to setup" guide.

[code]
Any

[2017-10-13 15:09] kannes commented on #8
https://github.com/pelias/dockerfiles#prerequisites says to

which did nothing for me. Maybe qlex was misled by that just like I was.

[2017-10-16 17:13] orangejulius commented on #33
Hey @ktjaco,
Thanks for reporting this. I think there's a problem where copying/pasting the JSON from that PDF brings along invalid whitespace. I copied your JSON and it looked like this in vim:
![image](https://user-images.githubusercontent.com/111716/31625274-756a2528-b273-11e7-8296-85492a987072.png)

That, combined with our [confusing JSON error messages](https://github.com/pelias/config/issues

[2017-10-16 17:27] orangejulius commented on #8
Hey @qlex and @kannes,

Thanks for pointing this out. It looks like the code is a bit torn between two approaches: using a shell environment variable, as @dianashk suggested above, and using the `.env` file which is used only by `docker-compose`.

One option we could take to fix this would be to remove [the line that checks for that environment variable](https://github.com/pelias/dockerfiles/blob/

[2017-10-16 21:40] ktjaco commented on #33
@orangejulius The white space in the ```pelias.json``` file didn't seem to be the problem. I removed all spaces and I got the space error.

[code]

[2017-10-16 21:59] orangejulius commented on #33
Hey @ktjaco,
When I copied and pasted your pelias.json output I still see them there:
![image](https://user-images.githubusercontent.com/111716/31637150-59265e7c-b29b-11e7-9df9-82bda575ac82.png)

I did some sleuthing and it looks like `iconv` [can help](https://stackoverflow.com/questions/8562354/remove-unicode-characters-from-textfiles-sed-other-bash-shell-methods/8562577#8562577). It was install

[2017-10-16 23:19] ktjaco commented on #33
@orangejulius Looks like the whitespace was the issue! Thank you so much! :)

[2017-10-16 23:19] #33 closed

[2017-10-23 18:02] gibranparvez opened #35 "Missing WOF data?"
Seems to be references to missing data on the ./build.sh script. $DATA_DIR is defined and should be of sufficient file space (50GB+). Running Fedora 25.

I get the following, followed by a hanging after "Build completed!". At that point, docker-compose ps shows
![screenshot from 2017-10-23 14-22-40](https://user-images.githubusercontent.com/32872347/31905922-a87737f0-b7fd-11e7-93fd-78dbb694585c.pn

[2017-10-23 18:31] orangejulius commented on #35
Hey @gibranparvez,
Thanks for reporting this. Can you try out the changes I just pushed in https://github.com/pelias/dockerfiles/pull/36? I think the `build.sh` script was misconfigured and was giving you out of date Docker images.

We [changed things around recently](https://github.com/pelias/dockerfiles/pull/26) by moving all those Docker images out of this repo, and building them automatically

[2017-10-23 18:47] gibranparvez commented on #35
@orangejulius  thanks a bunch for the prompt response. Unfortunately that didn't change anything. I will try nuking all of my stored images first and redoing.

Edit: No dice.

[2017-10-24 17:03] fpurcell commented on #35
Do you have an api-key from MapZen in your pelias.json file?  (I've caught myself making this mistake a few times).

BTW, for the MapZen folks: does the 'free' api key have data limits on how much or how often you can download WoF data for Pelias?

[2017-10-25 10:36] missinglink commented on #35
@fpurcell see https://mapzen.com/documentation/overview/rate-limits/

The relevant API is called `Mapzen Places` and is free for the first 25,000 requests per month

[2017-11-03 17:51] dustyny commented on #16
I would also suggest having config files that demonstrate how to add countries & continents.

[2017-11-07 12:28] dustyny opened #37 "Interpolation maxes out one core & the other processes & cores are idle"
In my pelias.json file I've configured it to import the state of Florida (USA). The virtual machine has 4 cores but only 1 seems to be utilized.

I see multiple threads running but most of them are idle. So this seems like a bug but perhaps it's expected behavior that hasn't been documented (or I didn't see it in the docs).

Is this correct or can I make a change that will distributed the load acr

[2017-11-07 14:52] orangejulius commented on #37
Hey @dustyny,
Thanks for reporting this. This is expected, but not desired. Our interpolation import process runs only a single process currently. Node.js can't really run multiple CPU intensive tasks at once from within a single process, so this is the normal CPU profile of almost any computation heavy Node.js process.

However, there are a lot of opportunities to parellelize the interpolation im

[2017-11-07 16:05] dustyny commented on #37
@orangejulius thank you for the quick reply. Totally makes sense.

I'm struggling trying to figure out how to configure Pelias, populate it with data & make it production ready. The documentation doesn't say much on the subject. Can you tell me what you think best practice would be for what I'm trying to accomplish. I'll do my best to document it in a doc/blog post.

I'll be using Pelias as a seco

[2017-11-07 18:25] missinglink commented on #37
re: the original issue https://github.com/pelias/interpolation/pull/94

[2017-11-07 20:08] dianashk commented on #37
@dustyny, you can certainly populate a single instance of Pelias to cover the entire world or several regions. You would need to run the importers a few different times to import regions with different hierarchies, but if you wanted to get the entire US, that would be entirely possible. Check out our [pelias/dockerfiles](https://github.com/pelias/dockerfiles] repository for more up-to-date informa

[2017-11-07 20:29] dustyny commented on #37
@dianashk I followed the tutorial on how to get one city setup but that doesn't talk about running importers.

The documentation is not clear on how this works. For instance I don't  know if I have to manually download the files and put the in the data directories or if the sh scripts handle this for me. Some parts of the documentation say to download others say it auto downloads (like when passin

[2017-11-09 00:53] fpurcell commented on #31
I'm not building anymore, so going to close this ticket.  (But need to reopen #25, since Interpolation has stopped working again.

[2017-11-09 00:53] #31 closed

[2017-11-09 01:12] fpurcell opened #38 "Interpolation not working as of November 7, 2017"
I am again seeing interpolation not work properly (November 7, 2017).   I had seen similar issues previously, ala #25 .  This is on a system cleaned of older docker containers and data, and running the dockerfiles' build.sh with minimal changes (only change is adding the key to pelias.json).

This call should show an interpolated address:
https://ws-st.trimet.org/pelias/v1/search?text=888%20SE%20L

[2017-11-09 13:56] missinglink commented on #38
hi, @fpurcell I haven't seen that issue before (I'm on linux), is this error on linux/osx?

there are a few issues mentioning `OSError: [Errno 9] Bad file descriptor` in other projects such as:
https://github.com/docker/compose/issues/3491

[2017-11-09 13:57] missinglink commented on #38
could you please try the `-T` flag for `docker-compose run` as mentioned in that issue:

[code]

[2017-11-09 14:02] missinglink commented on #38
looking through the commits, it looks like we have only made minor dependency updates in the last few months, I can't pinpoint any change which would have caused this change in behaviour.

https://github.com/pelias/interpolation/commits/master

[2017-11-09 16:50] #37 closed

[2017-11-09 17:17] fpurcell commented on #38
Hey Peter,

Success!  Thanks for the help...

we're using Linux 3.10.0 / CentOS 7 (3.10.0-693.2.2.el7.x86_64) on a virtual machine.

in prep_data.sh, I did a bulk replace of "docker-compose run " to add the -T option to all run commands, and I think that's a really good add.  I'm no longer seeing any "OSError: [Errno 9] Bad file descriptor" errors.  It could be my imagination, but the build also s

[2017-11-10 17:40] dianashk commented on #37
@dustyny, I'm glad you found the [tutorial](https://github.com/pelias/dockerfiles/blob/master/how_to_guide.pdf)! It was intended to explain exactly how to go through the build process followed by deploying the API and relevant microservices and test each step.

Any commands in the tutorial that use the `openstreetmap`, `openaddresses`, and `whosonfirst` docker images are performing steps in the bu

[2017-11-13 04:02] dustyny commented on #37
Thank you @dianashk I was able to get a representative city (Miami) installed for my testing. Unfortunately it was to inaccurate for my use case. I was hoping to use Pelias as a secondary source of address correction and verification but there was to many interpolated addresses. Also the Geolocation that I get from Pelias was not close enough to what I get from my current provider so I could't mat

[2017-11-13 11:46] missinglink commented on #38
Great news @fpurcell, would you like to open a PR to upstream these changes or would you prefer if I do it and you could test it for me?

[2017-11-13 11:58] missinglink commented on #38
I'm still very curious why this used to work and then stopped working, is it possible that some other dependency version was changed, such as the docker version?

[2017-11-13 17:13] fpurcell commented on #38
Hey Peter,  I'll let you make the -T changes ... I'm not in the best position to test anything more than CentOS.  Plus, you may choose to be more selective in the use of the -T option.

About why it worked, then stopped, I can't say. What I can say is that this same pattern repeated a  couple of times in the past. Without the -T, the docker stuff and tty seemed pretty finicky, where things would w

[2017-11-13 17:13] #38 closed

[2018-01-16 04:39] SumeetMoray opened #40 "Looking for paid installation service"
Sorry this is not the right place to post this.

Feel free to delete this Issue after keeping it for few days !

I need a self-hosted pelias Geocoder for our taxi booking app.
But i am finding it quite difficult to install it by myself !

Can anyone help me install pelias geocoder on Digital Ocean VPS ?
You can ask for payments and charges !

If you guys help me install pelias how much will you ch

[2018-01-16 15:47] orangejulius commented on #40
Hi @SumeetMoray,
Thanks for reaching out. We're happy to help with specific installation issues here. Post some details on what you're trying to do and the errors or problems you are seeing, and we'll be glad to take a look.

Beyond that, you can send an email to pelias.team@gmail.com if you're looking for some paid support, we might be able to work something out. I'll close this issue but feel fr

[2018-01-16 15:47] #40 closed

[2018-02-01 17:40] chriswhong opened #41 "mem_limit setting in docker-compose.yml was causing imports to fail"
I am leaving an issue here for posterity and google-ability in case anyone encounters this.

Our custom importer was always failing around 3.75M rows, with errors about lost socket connections... it would retry a bunch, and eventually resume, but pelias-dbclient's logging would say we lost several batches.

After trying everything under the sun, it was this `mem_limit` that seemed to be affecting

[2018-02-14 14:49] orangejulius commented on #41
This was probably done to keep the memory usage in check. We did most of our development with Portland and Boston, both much smaller cities. We'll look at bumping this up.

[2018-02-16 18:25] PhilGBr opened #44 "whosonfirst does not start with default pelias.json configuration"
Hi everybody.
I'm trying to install and run a pelias instance for testing and learning purpose. I'm on macOS Sierra.

I (think I) correctly followed the guidelines provided in the read.me. But I'm facing an issue related to whosonfirst postal codes import.

**Configuration**
I used the same as default (except I put my mapzen-key-id !!).

![image](https://user-images.githubusercontent.com/12731940/

[2018-02-16 18:43] orangejulius commented on #44
Hey Philippe,
Thanks for the report. Is it possible that postalcode meta files were downloaded by some other means? For example, perhaps you did a full WOF download separately? Check what's in the directory pointed to by the `DATA_DIR` variable in the `.env` file in your checkout of the dockerfiles repo.

I just tried this out myself, and it worked for me right now, but there are quite a few movin

[2018-02-16 20:31] PhilGBr commented on #44
Hi Julian,

I only used the pelias-dockerfile resources (no "manual" download or anything else).But I'm beginning with Pelias, and I did a few mistakes (like forgetting to set the "api_key" in pelias.json, ...) and ran into issues.
So I had to rerun several times some part of the import. Maybe I changed something in the config at one moment, and I forgot it.

I'm gonna do it again from scratch and

[2018-02-19 09:51] PhilGBr commented on #44
Hi Julian,

So I started over from scratch, and it went well this time.

Doing that, I noticed that I previously had two different values set  for the DATA_DIR variable:

- in my `.env` file, `DATA_DIR` was set to `/tmp/pelias`
- in the shell session used to launch the `build.sh` script,  `DATA_DIR `was set to `/tmp`

Maybe this explains the issue I ran into.

Thank you for your help.

Philippe

[2018-02-19 16:26] orangejulius commented on #44
Ah, this makes a lot of sense. We've already heard about the pain of managing `DATA_DIR` in two places in https://github.com/pelias/dockerfiles/issues/8. We definitely need to figure something out that's more foolproof. Thanks for the feedback, and if you have any ideas, let us know.

[2018-02-27 21:46] mapmeld opened #46 "Wall of errors during successful setup, not sure what is wrong"
Toward the end of Docker setup of Pelias, I got trapped in what looked like an infinite loop printing many errors over and over.. I hit Ctrl+C to stop this part of the process.  Everything else installed cleanly and the geocoder is working on some addresses. Any idea what glitched here?

[code]

[2018-02-27 22:01] orangejulius commented on #46
Hey @mapmeld!
We've been getting lots of reports of this lately.

What part of the world did you try to import? We know the current configuration works for Portland, OR, but it's a pretty small city, so bigger areas may currently cause problems. Over in #41 changing the [memory limit](https://github.com/pelias/dockerfiles/blob/master/docker-compose.yml#L146) for the Elasticsearch container seemed

[2018-02-27 22:25] mapmeld commented on #46
I was trying to do the recommended setup with Portland and greater CPU/memory preferences for Docker, which is why this was confusing.

[code]

[2018-02-28 15:07] orangejulius commented on #46
Okay, definitely not the memory limit then. I also re-ran the default Portland import and am seeing the same thing. So something broke recently.

It's almost certainly related to https://github.com/pelias/dbclient/issues/76. According to that issue, we suspect our importers might essentially be sending a huge number of Elasticsearch bulk index requests in parallel, which isn't very nice for Elasti

[2018-03-08 17:09] jengeb opened #49 "How to configure pelias.json if multiple regions/cities need to be imported?"
Assuming that I need to import the datasets for Idaho and Oregon, I would adjust the imports in pelias.json. I would configure the id of `importPlace`, e.g. Idaho for the whosonfirst dataset as follows and run the build script.

[code]

After this I would like to import the dataset for Oregon with the `importPlace` id 85688513. What's the best way to do that? Changing the pelias.json file and runn

[2018-03-08 17:11] orangejulius commented on #49
For now, yes running the WOF importer twice would be the best way. @missinglink and I were just discussing allowing importPlace to contain an array of IDs so that several areas could be imported.

[2018-03-08 17:14] jengeb commented on #49
@orangejulius Thanks for your help and quick response.

[2018-03-08 17:14] #49 closed

[2018-03-09 17:07] jradcgo opened #50 "error when executing "docker-compose run --rm whosonfirst npm run download" error:14077410:SSL routines:SSL23_GET_SERVER_HELLO"
Hello colleagues, he tried to follow the instructions of the document how_to_guide.pdf but I was stuck in this error that I could not solve:

![1](https://user-images.githubusercontent.com/25774436/37218990-bbaef5c4-2387-11e8-96e7-2541244725c2.png)

PS C:\Users\andres.castillo\dockerfiles> docker-compose run --rm whosonfirst npm run download
Starting pelias_baseimage ... done

2018-03-09T16:53:06.

[2018-03-09 17:16] orangejulius commented on #50
Hi @jradcgo,
Thanks for reporting this. I'm sure many other people are experiencing this so it's good to have such a detailed issue.

This is happening because Mapzen shut down, and took with it the Who's on first API we were using to download data for just one particular region, rather than the entire planet. We are building a replacement for this API that runs locally over in https://github.com/

[2018-03-09 17:22] jradcgo commented on #50
Hi @orangejulius

Excellent, thank you very much for the info. I'm going to try it

[2018-03-09 21:00] jradcgo commented on #50
Hi @orangejulius

Thank you very much for helping us
It seems that your solution works, but now this error appears:

![2](https://user-images.githubusercontent.com/25774436/37229511-c60d906c-23a9-11e8-9331-449b9130b616.png)

I have the latest version of node.js and npm installed,

I have to accept that I'm not familiar with this technology, for which I would appreciate the help

[2018-03-09 21:35] orangejulius commented on #50
Hey @jradcgo,
How much disk space do you have available? One downside to the new approach is it requires downloading about 17GB worth of data, and you temporarily need 30GB to extract it. Here's the contents of my data directory, so you can verify everything looks the same.

[code]

[2018-03-09 21:56] jradcgo commented on #50
Hello @orangejulius

I think I have no problem with that,(I have more than 200 GB of space on C:/)

In fact, I ran the command again and now if I am downloading the .dbz2 file

Note: Before executing the command, I had already manually downloaded the .dbz2, can I just move it to / pelias / dockerfiles / pelias_data / whosonfirst / sqlite and continue with the guide? (so as not to wait for the down

[2018-03-09 21:57] orangejulius commented on #50
Yes, you definitely can copy it there. It could be a path issue then if you're running it on windows, but give it another shot, maybe it will just work? :)

[2018-03-09 22:37] jradcgo commented on #50
Dear @orangejulius

Is this result the expected one?

![3](https://user-images.githubusercontent.com/25774436/37233134-93ab62c6-23b7-11e8-8d41-5c69b4f7aca8.png)

![image](https://user-images.githubusercontent.com/25774436/37233174-c42f2874-23b7-11e8-9750-cc55d9ed0ad6.png)

![image](https://user-images.githubusercontent.com/25774436/37233182-ce458506-23b7-11e8-8137-7e9adffb9983.png)

![image](https

[2018-03-09 22:42] jradcgo commented on #50
I think my doubt has materialized :(

![image](https://user-images.githubusercontent.com/25774436/37233414-af2b6040-23b8-11e8-91e8-f3cadd8dff54.png)

[2018-03-09 22:42] orangejulius commented on #50
You're right, empty files are not expected. Can you try on a Linux machine? We do not officially support windows, and it's unlikely we would be able to spend the time to make it work there soon :(

Edit: then again, the dockerfiles should remove most windows-specific bugs. But please try just to see if it makes a difference :)

[2018-03-09 22:57] jradcgo commented on #50
What a pity , but the experience will help me to do it on Linux next week
1000 thanks Mr. Julian

[2018-03-12 15:39] Binternet opened #51 "Importers Error"
I've changed the importer's source to S3,
Now I'm encountering npm error while executing `build.sh`:

info: [download] Attempting to download selected data files: https://s3.amazonaws.com/data.openaddresses.io/openaddr-collected-global.zip
info: [download] Downloading https://s3.amazonaws.com/data.openaddresses.io/openaddr-collected-global.zip
info: [download_data_filtered] Getting parent ids
erro

[2018-03-12 15:43] orangejulius commented on #51
Hey @Binternet,
That's unrelated to the openaddresses download, fortunately. It will be fixed very soon with https://github.com/pelias/whosonfirst/pull/324

[2018-03-12 16:00] Binternet commented on #51
Not sure I understand since the error occurs in `openaddresses` and not `whosonfirst`

[2018-03-12 16:03] orangejulius commented on #51
The downloads for all data sources are performed simultaneously, so the error/info messages are interleaved. It's definitely confusing, but faster :)

This issue is well known because it's due to the [Mapzen Shutdown](https://github.com/pelias/pelias/issues/703) and was also reported in https://github.com/pelias/dockerfiles/issues/50

If you have a minute, try the workaround mentioned in https://g

[2018-03-12 16:18] Binternet commented on #51
Just tried it, i'm still getting this error:

[code]

[2018-03-12 16:24] orangejulius commented on #51
This looks like an out disk space error. The OpenAddresses full planet zip is 10GB, Who's on First requires 15GB, and it looks like you're trying to download a full OSM planet file (39GB).

Even assuming you have the disk space for all that, this import is not likely to succeed with the Dockerfiles setup.

If you haven't tried running Pelias with a smaller import yet, I'd suggest you start there.

[2018-03-12 16:34] Binternet commented on #51
Well I am trying to run a full-planet on an AWS `i3.4xlarge` instance, i've managed to run it with the Dockerfiles setup for the default Portland data, but i'll try again with the full install guide. will keep you posted!

[2018-03-12 16:38] orangejulius commented on #51
Well then, an `i3.4xlarge` is a little different than say a personal laptop :)

Keep in mind it will take several days and you'll probably want a dedicated Elasticsearch cluster outside of the one provided by the Dockerfiles. The importers should work fine for a full planet import, but Elasticsearch will need to be treated with more care than this repo can likely provide. It's meant just for getti

[2018-03-12 19:47] orangejulius commented on #21
An update here: we will move the `baseimage` Dockerfile to [its own repo](https://github.com/pelias/baseimage), since managing the other Dockerfiles through CircleCI has worked out so well..

The `libpostal_baseimage` will likely disappear after we complete https://github.com/pelias/interpolation/issues/106, since moving Libpostal to a separate service has worked great for the API.

Where to put t

[2018-03-12 19:47] #21 closed

[2018-03-12 23:47] orangejulius commented on #8
Hi all. We've discovered in #48 that we can make our shell scripts _and_ docker-compose use the `.env` file fairly easily. So now there's no need to run `export DATA_DIR=...` any more, and only one place to keep up to date!

[2018-03-12 23:55] #8 closed

[2018-03-15 14:50] jengeb opened #55 "The link to sign up and generate a Mapzen API key doesn't work"
The [how-to guide](https://github.com/pelias/dockerfiles/blob/master/how_to_guide.pdf) states that you need an API key to configure the whosonfirst import. The sign-up [link](https://mapzen.com/developers/sign_up) doesn't work right now. I am aware that Mapzen is shutting down its services. :-( So how will this be handled as from now on?

I ask because it seems necessary to use an API key in `peli

[2018-03-15 16:10] orangejulius commented on #55
Hey @jengeb,
We no longer require the `api_key` parameter. We've built functionality into Pelias to replace what was previously handled by a Mapzen API. If you try the dockerfiles setup again (simply running`./build.sh` should be enough, as it will download updated images), it should now work.

Let me know how it goes!

[2018-03-15 17:36] #55 closed

[2018-03-29 17:45] #35 closed

[2018-03-29 18:38] missinglink commented on #35
@gibranparvez you probably noticed that this issue is now resolved by https://github.com/pelias/whosonfirst/pull/324, rate limits and api keys are no longer applicable.

[2018-04-09 14:22] orangejulius commented on #24
The libpostal_baseimage will be deprecated in favor of the [libpostal service](https://github.com/whosonfirst/go-whosonfirst-libpostal).

[2018-04-09 14:24] orangejulius commented on #44
Hey @PhilGBr,
I think we've fixed this with https://github.com/pelias/dockerfiles/pull/53, as it's no longer necessary to set `DATA_DIR` in two places. If you've had a chance to test things out since then let me know.

[2018-04-11 10:16] #51 closed

[2018-04-16 19:08] orangejulius commented on #46
@mapmeld another thing to try is the changes in #59. In my experience our choice to run the importers in parallel is a little risky when running locally (it definitely makes sense when doing a full planet build with lots of machines on EC2 though).

[2018-04-16 19:13] orangejulius commented on #29
I think we fixed this, and I also believe this particular issue is no longer possible since we've switched to a libpostal service in #42. Feel free to comment or re-open if there is more though.

[2018-04-16 19:13] #29 closed

[2018-04-16 19:15] orangejulius commented on #9
Hi all, with the recently merged PR #42, we've now switched completely over to using a pre-built service that provides libpostal. Thus I believe any issues like this are no longer possible. If there are questions or issues, don't hesitate to comment or re-open this issue.

[2018-04-16 19:15] #9 closed

[2018-04-18 08:48] Binternet opened #60 "Docker volume configuration"
Not sure if this is a pelias or a docker issue, but in `docker-compose.yml` file you can see:

[code]

And in the configuration you can see reference to `libpostaldata` but I cannot understand where is the actual absolute path that is defined as `libpostaldata` on the host machine.

[2018-04-18 14:57] orangejulius commented on #60
Hmm that's a good question. My guess is that Docker picks a place for that volume to live. Those two lines are very old, back from when we knew a lot less about Docker and docker-compose. I wonder if that volume mount is even required, since the API no longer needs libpostal data, and the interpolation service uses the `libpostal_baseimage` which has all the data built into the image

[2018-05-13 09:15] #60 closed

[2019-03-05 22:11] orangejulius commented on #16
Closing this because we've migrated from https://github.com/pelias-deprecated/dockerfiles to http://github.com/pelias/docker/, which is better set up to support many config files. As a popular area, a SF Bay area project configuration would be a great addition from someone looking to contribute.

[2019-03-05 22:11] #16 closed

[2019-03-05 22:13] orangejulius commented on #50
Closing this old issue, hopefully the http://github.com/pelias/docker/ repository which replaces this one has fixed this issue. If not, feel free to open an issue there with the latest info on the issue. Thanks!

[2019-03-05 22:13] #50 closed

[2019-03-05 22:13] orangejulius commented on #46
Closing this old issue, hopefully the http://github.com/pelias/docker/ repository which replaces this one has fixed this issue. If not, feel free to open an issue there with the latest info on the issue. Thanks!

[2019-03-05 22:13] #46 closed

[2019-03-05 22:13] orangejulius commented on #44
Closing this old issue, hopefully the http://github.com/pelias/docker/ repository which replaces this one has fixed this issue. If not, feel free to open an issue there with the latest info on the issue. Thanks!

[2019-03-05 22:13] #44 closed

[2019-03-05 22:13] orangejulius commented on #30
Closing this old issue, hopefully the http://github.com/pelias/docker/ repository which replaces this one has fixed this issue. If not, feel free to open an issue there with the latest info on the issue. Thanks!

[2019-03-05 22:13] #30 closed

[2019-03-05 22:13] orangejulius commented on #11
Closing this old issue, hopefully the http://github.com/pelias/docker/ repository which replaces this one has fixed this issue. If not, feel free to open an issue there with the latest info on the issue. Thanks!

[2019-03-05 22:13] #11 closed

[2019-03-05 22:15] orangejulius commented on #41
We've actually fixed the need to raise this limit up much, if at all, with changes to the Pelias schema such as https://github.com/pelias/schema/pull/302. Let us know in the new http://github.com/pelias/docker/ if anyone is still having trouble with this.

[2019-03-05 22:15] #41 closed